/* Peter Maglioli Last Edited: April 13, 2022 -->*/
body{
    background-color:rgba(225, 168, 113, 0.684);
    font-family: Arial, Helvetica, sans-serif;
}

.common{
    background-color: rgba(34, 148, 168, 0.479);
    border: solid 2px white;
    position: absolute;
}
.header{
    top: 5px;
    left: 10%;
    right: 10%;
    height: 65px;
    padding-left:5px;
    padding-top:35px;
    text-align: center;
}

.mainbody{
    top: 16%;
    left: 10%;
    right: 10%;
    background: rgba(32, 51, 36, 0.555);
    z-index:2;
}

.footer{
    bottom: 0px;
    height: 50px;
    left: -1px;
    right: -1px;
    position: relative;
    padding-top:5px;
    margin-right:-2px;
    background-color: white;
    z-index:1;
}

.heading{
    color:rgba(26, 15, 6, 0.773);
    font-size: x-large;
    float: right;
}
.centerheader{
    text-align: center;
    color: white;
}
.centerfooter{
    text-align: center;
    color: black;
}


a {
    color:beige;
}      
a:visited {
    color:Black;
} 
a:hover {
    color:#19050194;
}   
a:active {
    color:black;
}      

.container{
    background:rgba(9, 93, 121, 0.697);
    border-style:solid 3px;
    border-right: 10%;
    border-left: 10%;
    border-color: White;
    color: white;
    text-align: left;
    Padding-left: 5px;
    padding-top:1px;
    padding-bottom:1px;
    padding-right: 5px;
    text-align:justify;
}
h1{
    color:white;
}

body{
    background-image: url('../images/strokes.jpg');
}

left{
    text-align: left;
    color: black;
}